
.wrapper >header{
  display: block;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 999;
  box-shadow: 0 0 1px 0 rgba(16, 16, 32, 0.25), 0 0 2px 0 rgba(0, 0, 0, 0.15);
}
header nav.head{
  text-transform: capitalize;
  padding: 1em 2.5em ;
  line-height: 2em;
}

header>nav .logo{
  font-size: 2em;
  font-weight: bolder;
  text-decoration: none;
  color: inherit;
}
header>nav  {
  display: flex;
  justify-content: space-between;
}
header >nav >ul>li{
  position: relative;
  margin-left: 1em;
  display: inline-block;
  font-weight: bolder;
}
header >nav  ul.hover-show{
  display: none;
  padding: 0.5em 1.5em;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 5em;
  background-color: #4acaa8;
  color: white;
}
header>nav ul li:hover ul.hover-show{
  display: block;

}
header >nav ul.hover-show li{
  line-height: 2em;
  white-space:nowrap;
  color: inherit;
  text-transform: uppercase;
}
header >nav ul.hover-show li:hover{
  color: rgb(255, 249, 65);
}
.hover-show li >a{
  color: inherit;
}
header >nav  ul.hover-show:hover{
  display: block;
}
header #me{
    text-transform: none;
}
header #me i{
  margin-right: 0.65em;
}
.loginCover{
    width: 100%;
    height: 100%;
    background-color: rgba(197, 197, 197, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999!important;
    display: flex;
   justify-content: center;
   align-items: center;
}
.login,.register{
    width: 70%;
    padding:2em 0;
    margin: auto;
    background-color: #fff ;
    position: relative;
    box-shadow: 0 0 5px #f5f5f5;
    z-index: 9999;

}
.login i.Close,.register i.Close{
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
    color: white;
}
.login >form ,.register >form{
    width: 90%;
    margin: 1em auto;
    display: flex;
   flex-direction: column;
    align-items: center;
}

.row {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.675em;
  width: 90%;
}
.login >a,.register >a{
  display: inline-block;
  position: absolute;
  right: 10%;
  bottom: 1em;
  color: #777777;
  font-weight: 700;
  text-transform: capitalize;
}
form label{
  color: #47D3E5;;
}

.register button{
  color: white;
  background-color: #20796f;
}
header .material-icons{
  position: fixed;
  display: table-cell;
  right: 1rem;
  bottom: 2rem;
  background-color: #26a69a;
  width: 2em;
  height: 2em;
  padding: 0.5em;
  border-radius: 50%;
  color: #ffffff;
  z-index: 999;

}

.progress{
  position: absolute;
  height: 4px;
  display: block;
  width: 100%;
  top: 64px;
  background-color: #acece6;
  border-radius: 2px;
  overflow: hidden;
}
.progress .indeterminate {
  background-color: #26a69a;
}
.progress .indeterminate:before{
  content: '';
  position: absolute;
  height: 4px;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after{
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}
@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

@-webkit-keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
